<ion-modal-view>
    <div class="bar bar-header bar-balanced">
        <h1 class="title">Tambah Menu</h1>
        <button ng-click="closeAdd()" class="button button-clear"><i class="icon ion-arrow-down-a"></i>
        </button>
    </div>
    <ion-content padding="false" class="has-header" overflow-scroll="false">
        <form class="list" name="form" >
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nama Menu</span>
                <input ng-model="post.nama" type="text" placeholder="Input nama makanan" required>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Harga Menu</span>
                <input ng-model="post.harga" type="number" min="0" step="any" placeholder="Input harga makanan" required>
            </label>
			<!--<label class="item item-input item-stacked-label">
                <span class="input-label">Jenis Makanan</span>
                <input ng-model="post.jenis" type="text" placeholder="Input nama makanan" required>
            </label>-->
			<label class="item item-input item-select">
				<div class="input-label">Jenis Menu </div>
				<select ng-model="post.jenis" required>
					<option selected>Makanan</option>
					<option>Minuman</option>
					<option>Toping</option>
				</select>
			</label>
            <div class="padding-left padding-right">
                <button ng-click="add()" class="button button-assertive button-outline button-block" ng-disabled="form.$invalid"><i class="icon ion-ios-plus-outline" >  TAMBAH MENU MAKANAN</i></button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>