<ion-view view-title="Account">

<div class="button-bar" style="margin-top:94px;">
  <a class="button button-small button-outline button-balanced"  ng-click="tampilmakanan()">Makanan</a>
  <a class="button button-small button-outline button-balanced"  ng-click="tampilminuman()">Minuman</a>
  <a class="button button-small button-outline button-balanced"  ng-click="tampiltoping()">Toping</a>
</div>
    <ion-content padding="false" class="has-header" overflow-scroll="false" style="margin-top:30px;">
	 <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-click="click(data)" ng-repeat="data in datas" type="item-text-wrap">
                <h2 style="font-size: 15px;">{{data.nama}} </h2>
				<!--<h2 style="font-size: 15px;">{{data.harga}} </h2> -->
               <h2 style="text-align:right; margin-top: -20px; font-size: 15px;">{{data.harga}}</h2>   
            </ion-item>
        </ion-list>
		<div ng-if="datas === undefined" class="no-results">
            <p style="padding: 10px">Memuat Menu</p>
        </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-balanced">
  <h1 class="title" style="text-align:center; margin-left:2cm;">Tambah Menu</h1>
  <div class="buttons" ng-click="goAdd()">
   <button class="button button-clear"><i class="icon ion-arrow-up-a"></i>
        </button>
  </div>
</ion-footer-bar>
</ion-view>
